<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7 page <%= page_classes %>"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8 page <%= page_classes %>"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9 page <%= page_classes %>"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js page <%= page_classes %>"> <!--<![endif]-->
<head>
  <title><%= current_page.data.title || "Coley's Cooler" %></title>

  <!-- Meta -->
  <meta charset="utf-8" />
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="default" />

  <!-- Stylesheets -->
  <%= stylesheet_link_tag "cooler" %>

  <!-- Scripts -->
  <%= javascript_include_tag "vendor/modernizr" %>
  <script>
    var b = document.documentElement;
    b.setAttribute('data-useragent',  navigator.userAgent);
    b.setAttribute('data-platform', navigator.platform );
  </script>
</head>
<body>
  <header role="banner" class="site-header">
    <div class="section__inner">
      <div class="site-header__left">
        <a class="btn btn--dark btn--soft tel-btn" href="tel:<%= data.contact.telephone %>">Telephone</a>
        <span class="site-header__text"><%= format_phone data.contact.telephone %></span>
      </div>
      <%= link_to "Coley's Cooler", '/', class: 'site-logo' %>
      <div class="site-header__right">
        <span class="site-header__text">Find us on:</span>
        <a class="btn btn--dark btn--soft facebook-btn" href="<%= data.contact.facebook %>">Facebook</a>
      </div>
    </div>
  </div>
</header>

<main class="main" role="main">
  <%= yield %>
</main>

<!-- Scripts -->
<%= javascript_include_tag 'vendor/jquery' %>
<%= javascript_include_tag 'vendor/jquery.expandables' %>
<%= javascript_include_tag 'vendor/swipe' %>
<%= javascript_include_tag 'cooler' %>

<%= yield_content :body_scripts %>
</body>
</html>
