<div class="section section--main">
  <div class="section__inner">
    <div class="page-lead">
      <h3 class="page-lead__headline">Check out the delicious <mark>products</mark> we offer:</h3>
      <!-- <p>Something something or other something.</p> -->
    </div>

    <div class="expandable">
      <div class="grid"><!--
        <% data.products.sort_by { |p| p[:name] }.each_with_index do |product, index| %>
          <% if index == 6 %>
            --><div class="expandable__more"><!--
          <% end %>
          --><div class="grid__item desk-one-half">
            <%= partial 'partials/product', object: product %>
          </div><!--
        <% end %>
        <% if data.products.length >= 6 %>
          --></div><!--
        <% end %>
      --></div>
      <div class="expandable__footer vbottom">
        <a class="btn btn--outline btn--soft btn--wide vbottom__item expandable__expander" href="#">View all products</a>
      </div>
    </div>
  </div>
</div>

<div class="section section--striped">
  <div class="section__inner">
    <div class="grid">
      <div class="grid__item desk-one-half">
        <h3>Mission</h3>
        <p>It all started as a joke told around the family dinner table: "What if we started an ice cream truck?" Little did we know that less than a year later, our first ice cream truck would be on the road. We now have four ice cream trucks that operate throughout Boone and Winnebago Counties in cities like Belvidere, Cherry Valley, Poplar Grove, Capron, and Timberlane.</p>
        <p>Coley's Cooler is run by the Abraham family. We work hard to provide a fun and safe environment for children (and adults!) to enjoy. We take pride in our delicious ice cream, friendly service, and clean, authentic-looking trucks. Our mission? Bring the 'Great American Chase' back to Boone County.</p>
      </div><!--
      --><div class="grid__item desk-one-half">
        <h3>Contact</h3>
        <ul class="spaced-list">
          <li>
            <strong>Phone</strong>: <a href="tel:<%= data.contact.telephone %>"><%= format_phone data.contact.telephone %></a><br/>
            Phone hours are Monday-Friday, 9am to 4pm.
          </li>
          <li>
            <strong>Email</strong>: <a href="mailto:<%= data.contact.email %>"><%= data.contact.email %></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="section tracker">
  <div id="map" class="tracker__map"></div>
  <div class="tracker__wrap">
    <span class="bubble tracker__message">Truck Tracker Coming Soon!</span>
  </div>
</div>

<% content_for :body_scripts do %>
  <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAYtgk--FOOg9QD3h6d0Ze3sz28AGS1ihI&amp;sensor=false"></script>
  <%= javascript_include_tag 'tracker' %>
<% end %>
